{% extends 'WeekFoodsApp/base_no_usuario.html' %}

{% load static %}

{% block content %}
<h1 class="my-4 text-center text-white">Contáctanos</h1>

<div class="container bg-dark text-white fs-4">

<!--Respuesta que aparecerá en pantalla cuando el usuario haya enviado el mensaje-->   

{% if messages %}
<div class="messages pt-3">
    {%for message in messages%}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show mt-3">
        <p class="mb-0">{{message}}</p>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Cerrar'></button>
    </div>
    {%endfor%}
</div>
{%endif%}


    <form action="{% url 'Contacto' %}" method="POST">

        {% csrf_token %}

                {% if mi_formulario.non_field_errors %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show mt-3">
                    {%for error in mi_formulario.non_field_errors%}
                    <p class='mb-0'>{{error}}</p>
                    {%endfor%}
                    <button type='button' data-bs-dismiss='alert' class='alert' aria-label='Cerrar'></button>
                </div>
                {%endif%}

                <div class="form-group">
                    <label class="col-form-label mt-3" for="{{mi_formulario.name.id_for_label}}">Nombre completo:</label>
                    {{mi_formulario.name}}
                    {%for error in mi_formulario.name.errors%}
                    <div class='invalid-feedback d-block'>{{error}}</div>
                    {%endfor%}
                </div>
       
        
                <div class="form-group">
                    <label class="col-form-label" for="mi_formulario.email.id_for_label">Correo electrónico:</label>
                    {{mi_formulario.email}}
                    {%for error in mi_formulario.email.errors%}
                    <div class='invalid-feedback d-block'>{{error}}</div>
                    {%endfor%}
                </div>
     
       
                <div class="form-group">
                    <label class="col-form-label" for="mi_formulario.subject.id_for_label">Asunto:</label>
                    {{mi_formulario.subject}}
                    {%for error in mi_formulario.subject.errors%}
                    <div class='invalid-feedback d-block'>{{error}}</div>
                    {%endfor%}
                </div>
 
     
            <div class="form-group">
                <label for="exampleTextarea" class="form-label mt-3 fs-3">Texto:</label>
                {{mi_formulario.message}}
                {%for error in mi_formulario.message.errors%}
                    <div class='invalid-feedback d-block'>{{error}}</div>
                    {%endfor%}
            </div>
      
  
                <div class="form-check form-switch ml-5 mt-4">
                    {{mi_formulario.terms_accepted}}
                    <label class="form-check-label" for="mi_formulario.terms_accepted.id_for_label">Aceptación de términos y condiciones,
                        política de privacidad y consentimiento para el procesamiento de datos personales: para cumplir
                        con las regulaciones de protección de datos y establecer las expectativas del usuario.</label>
                        {%for error in mi_formulario.terms_accepted.errors%}
                    <div class='invalid-feedback d-block'>{{error}}</div>
                    {%endfor%}
                </div>
   
        <div class="container mt-4 pb-4">
            <input type="submit" class="btn btn-primary btn-lg" value="Enviar">
            <a href="{% url 'Home' %}" class="btn btn-primary btn-lg">Cancelar</a>
        </div>
        
    </form>
    
</div>


{% endblock %}