{% extends 'WeekFoodsApp/base_usuario.html' %}

{% load static %}

{% block content %}

{% if not shopping_dict %}
<div class="container mt-5 bg-dark fs-2 text-center">No hay productos añadidos. Dirígase a 'Menú Semanal' para generar un menú</div>
{% else %}
<div class="container my-3 fs-1 text-center">Cesta de la compra</div>
<div class="table-responsive-sm text-center fs-1">
    <table class="table table-dark fs-4">
        <thead>
            <tr>
                <th scope="col">Ingrediente</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio(€)*</th>
            </tr>
        </thead>
        <tbody class = 'fs-5'>
            {%for ingredient, value in shopping_dict.items%}
                <tr>
                    <td>{{ingredient}}</td>
                    <td>{{value.0}}</td>
                    <td>{{value.1}}</td>
                </tr>
                {%endfor%}

            
        </tbody>
    </table>
</div>
    <p class="apreciacion">*Los precios son apróximados y por unidad. Ejemplo: los huevos los venden en pack, el precio indicado es unitario.</p>

    <div class="container my-5 bg-dark text-center">
        <h2 class='text-light'>Coste total: {{total_price}} €</h2></div>
   

    

{%endif%}


{% endblock %}