{% extends 'WeekFoodsApp/base.html' %}

{% load static %}

<!--Cabecera-->
{% block cabecera %} 

<div class="col d-flex flex-column align-items-center">
    <h3 class="text-center">¡Bienvenid@ {{request.user.first_name}}!</h3>
    <p class="h2 text-center">¡Que aproveche!</p>
    <a href="{% url 'Logout' %}"><input type="submit" value="Salir" class="btn btn-secondary mb-1 ml-0 salir fs-5"></a>
</div>


{% endblock %}

<!--Barra de navegacion-->
{% block navegacion %}

<nav class="navbar navbar-expand-sm bg-dark justify-content-center" data-bs-theme="dark">
    <ul class="navbar-nav gap-2">
        <li class="nav-item border-end border-3 border-light">
            <a class="nav-link {% if request.path == '/home_usuario/' %} active {% endif %} fs-3 me-2" href="{% url 'Home Usuario' %}">
                <i class="fa-solid fa-house fa-beat"  
                    style="margin-right: 10px; --fa-beat-scale: 2.0; --fa-animation-iteration-count:1"></i>
                Home</a>
        </li>
        <li class="nav-item border-end border-3 border-light">
            <a class="nav-link {% if request.path == '/menu_semanal/' %} active {% endif %} fs-3 me-2" href="{% url 'Menu Semanal' %}"><i
                    class="fa-solid fa-calendar-days fa-beat"
                    style="margin-right: 10px; --fa-beat-scale: 2.0; --fa-animation-iteration-count:1"></i>Menu
                Semanal</a>
        </li>
        <li class="nav-item border-end border-3 border-light">
            <a class="nav-link {% if request.path == '/recetas/' %} active {% endif %} fs-3 me-2" href="{% url 'Recetas' %}"><i
                    class="fa-solid fa-list-ul fa-beat"
                    style="margin-right: 10px; --fa-beat-scale: 2.0; --fa-animation-iteration-count:1"></i>Recetas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/lista_compra/' %} active {% endif %} fs-3" href="{% url 'Lista Compra' %}"><i class="fa-solid fa-cart-shopping fa-beat"
                    style="margin-right: 10px; --fa-beat-scale: 2.0; --fa-animation-iteration-count:1"></i>Lista de
                la compra</a>
        </li>
    </ul>
</nav>

{% endblock %}