{% extends 'WeekFoodsApp/base.html' %} {% load static %}

<!--Cabecera-->
{% block cabecera %} {% include 'Login/login.html' %} {% endblock %}

<!--Barra de navegacion-->
{% block navegacion %}

<nav
  class="navbar navbar-expand-sm bg-dark justify-content-center"
  data-bs-theme="dark"
>
  <ul class="navbar-nav gap-2">
    <li class="nav-item border-end border-3 border-light">
      <a
        class="nav-link {% if request.path == '/' %} active {% endif %} fs-3 me-2"
        href="{% url 'Home' %}"
      >
        <i
          class="fa-solid fa-house fa-beat"
          style="
            margin-right: 10px;
            --fa-beat-scale: 2;
            --fa-animation-iteration-count: 1;
          "
        ></i>
        Home
      </a>
    </li>

    <li class="nav-item border-end border-3 border-light">
      <a
        class="nav-link {% if request.path == '/quienes_somos/' %} active {% endif %} fs-3 me-2"
        href="{% url 'Quienes somos' %}"
      >
        <i
          class="fa-solid fa-clipboard-question fa-beat"
          style="
            margin-right: 10px;
            --fa-beat-scale: 2;
            --fa-animation-iteration-count: 1;
          "
        ></i>
        Quiénes somos
      </a>
    </li>
    <li class="nav-item border-end border-3 border-light">
      <a
        class="nav-link {% if request.path == '/como_trabajamos/' %} active {% endif %} fs-3 me-2"
        href="{% url 'Como trabajamos' %}"
      >
        <i
          class="fa-regular fa-rectangle-list fa-beat"
          style="
            margin-right: 10px;
            --fa-beat-scale: 2;
            --fa-animation-iteration-count: 1;
          "
        ></i>
        Cómo trabajamos
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link {% if request.path == '/contacto/' %} active {% endif %} fs-3"
        href="{% url 'Contacto' %}"
      >
        <i
          class="fa-regular fa-envelope fa-beat"
          style="
            margin-right: 10px;
            --fa-beat-scale: 2;
            --fa-animation-iteration-count: 1;
          "
        ></i>
        Contacto
      </a>
    </li>
  </ul>
</nav>

{% endblock %}
