{% extends 'WeekfoodsApp/base_no_usuario.html' %}

{% load static %}

{% block content %}

<div class="container-sm py-5 bg-dark text-white contenedor mt-5">
    <div class="container">
        <img src="{% static 'WeekfoodsApp/img/01_Parrafo.jpg' %}" alt="Degustar" class="imagen_parrafo_impar">
        <p class="parrafos">Bienvenidos a Weekfoods, tu destino para una alimentación saludable y conveniente.
            En Weekfoods, creemos en
            simplificar el camino hacia una vida más saludable, comenzando con lo que colocas en tu plato cada día. Como
            principiantes apasionados, nos embarcamos en este viaje con un compromiso ferviente: ofrecerte menús
            semanales
            que no solo nutran tu cuerpo, sino que también despierten tu paladar y te inspiren a explorar nuevas formas
            de
            alimentarte bien.</p>

    </div>
    <div class="container mt-5">
        <img src="{% static 'WeekfoodsApp/img/02_Parrafo.jpg' %}" alt="Degustar" class="imagen_parrafo_par">
    <p class="parrafos">En Weekfoods, entendemos los desafíos que enfrenta cualquier persona que desee adoptar
        hábitos alimenticios más
        saludables. Por eso, hemos diseñado cuidadosamente cada menú semanal para brindarte una variedad de opciones
        equilibradas y deliciosas, sin la necesidad de pasar horas en la cocina o preocuparte por la planificación de
        tus comidas. Nuestro objetivo es hacer que comer saludable sea accesible, práctico y, sobre todo, delicioso.</p>
    </div>

    <div class="container mt-5">
        <img src="{% static 'WeekfoodsApp/img/03_Parrafo.jpg' %}" alt="Degustar" class="imagen_parrafo_impar">
    <p class="parrafos">Como equipo, estamos comprometidos con la calidad, la frescura y la transparencia en
        todo lo que hacemos. Desde
        la selección de ingredientes hasta la preparación de cada plato, nos esforzamos por garantizar que tus comidas
        sean preparadas con los mejores productos disponibles y con la atención al detalle que mereces. Además, estamos
        aquí para apoyarte en cada paso de tu viaje hacia una vida más saludable, brindándote consejos, recetas y
        motivación para que te mantengas en el camino correcto.</p>
    </div>

    <div class="container mt-5">
        <img src="{% static 'WeekfoodsApp/img/04_Parrafo.jpg' %}" alt="Degustar" class="imagen_parrafo_par">
    <p class="parrafos">En Weekfoods, nos emociona ser parte de tu viaje hacia una mejor salud y bienestar.
        Estamos aquí para acompañarte
        en cada comida, cada elección y cada logro en tu camino hacia un estilo de vida más saludable y satisfactorio.
        Únete a nosotros mientras exploramos juntos el maravilloso mundo de la comida saludable y descubrimos nuevas
        formas de nutrir nuestro cuerpo, mente y alma. ¡Bienvenido a Weekfoods, donde la salud y el sabor se encuentran
        en cada bocado!</p>
    </div>
</div>

{% endblock %}