{% extends 'WeekFoodsApp/base_usuario.html' %} 
{% load static %}

{% block content %}
<h1 class="my-4 text-center text-white">Creando receta...</h1>

<div class="container bg-dark text-white fs-4">
  <form action="{% url 'Crear Receta' %}" method="POST" class='pt-2'>
    {% csrf_token %}

    <!--Mensaje de error en caso que no haya seleccionado ningún ingrediente-->
    {%if messages %} {% for msg in messages %}
    <div class="alert alert-{{msg.tags}} text-center mt-3">
      <h2 class="h2 ml-2">¡{{msg}}!</h2>
    </div>
    {% endfor %} {% endif %}

 
    <div class="row">
      <div class="col-sm-4">
        <label class="col-form-label mt-3" for="inputDefault">
          Nombre receta:
        </label>
        {{form.name}}
        {% if form.name.errors%}
        <div class="text-danger small">{{form.name.errors}}</div>
        {% endif %}
      </div>

      <div class="col-sm-4">
        <label class="col-form-label mt-3" for="inputDefault">
          Elaboración:
        </label>
        {{form.elaboration}}
        {% if form.elaboration.errors %}
        <div class="text-danger small mt-2">{{form.elaboration.errors}}</div>
        {% endif %}
      </div>

      <div class="col-sm-4">
        <label class="col-form-label mt-3" for="inputDefault">Calorias</label>
        {{form.calories}}
        {% if form.calories.errors %}
        <div class="text-danger small">{{form.calories.errors}}</div> 
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="form-group text-center">
        <label class="col-form-label m-3" for="inputDefault">
          Momento del día para comer:
        </label>
        {{form.when_you_eat}}
        {% if form.when_you_eat.errors %}
        <div class="text-danger small">{{form.when_you_eat.errors}}</div>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <p class="fs-4">Ingredientes:</p>

           <div class="mb-3">
            <input type="text" id="ingredient-search" class="form-control bg-white text-black border-secondary fs-4" placeholder="Buscar ingredientes...">
          </div>

         {{form.ingredients}}
          {% if form.ingredients.errors %}
          <div class="text-danger small">{{form.ingredients.errors}}</div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container-fluid mt-4 pb-4">
      <a href="{% url 'Agregar Ingrediente' %}" class="btn btn-primary btn-lg">Añadir otros ingredientes</a>
      <input type="submit" class="btn btn-primary btn-lg" value="Guardar" />
      <a href="{% url 'Recetas' %}" class="btn btn-primary btn-lg">Cancelar</a>
    </div>
  </form>
</div>

{%endblock%}
