{% extends 'WeekFoodsApp/base_usuario.html' %} {% load static %} 
{% block content %}


<h1 class="my-4 text-center text-white">Listado de recetas</h1>
<div class="table-responsive-sm mt-3 text-center fs-1">
   

    <!--Respuesta que aparecerá en pantalla cuando el usuario haya eliminado la receta o haya creado alguna-->
     {% if messages %}
    <div class="container my-1 justify-content-center d-flex">
        {%for message in messages%}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show col col-lg-4 fs-3" role='alert'>
            {{message}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
        {%endfor%}
    </div>
    {% endif %}

    {%if recipes%}
    <table class="table table-dark fs-4">
      <thead>
        <tr>
          <th style="width: 45%">Receta</th>
          <th>Calorias</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody class="fs-5">
        {%for recipe in recipes%}
        <tr>
          <td>
            <a
              href="{% url 'Ver Receta' recipe.id %}"
              class="text-center fs-5 mr-5 text-decoration-none text-white"
            >
              <span>{{recipe.name}}</span>
            </a>
          </td>
          <td><span>{{recipe.calories}}</span></td>
          <td
            class="text-right d-flex flex-column flex-lg-row align-items-center justify-content-center"
            style="width: auto"
          >
           
<form action="{% url 'Eliminar' recipe.id %}" method="POST" class="d-inline ms-2">
    {% csrf_token %}
    {#Para que cuando se elimine una receta, vuelva a la misma página donde estaba#}
    <input type="hidden" name="page" value="{{ page_obj.number }}">
    <button type="submit" class="btn btn-danger text-white btn-md rounded-pill fs-5" onclick="return confirm('¿Está seguro que desea eliminar la receta {{ recipe.name }}?');">
        Eliminar
    </button>
</form>

<form action="{% url 'Compartir Receta' recipe.id %}" method="POST" class="d-inline ms-2">
    {% csrf_token %}
    {#Para que cuando se comparta una receta, vuelva a la misma página donde estaba#}
    <input type="hidden" name="page" value="{{ page_obj.number }}">
    <button type="submit" class="btn btn-dark text-white btn-md rounded-pill fs-5" onclick="return confirm('¿Está seguro que desea compartir la receta {{ recipe.name }}?');"><i class="fa-solid fa-share-from-square"></i>
       Compartir
    </button>
</form>

</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

    <!--Paginación-->
    <div class="row mt-3">

      <nav>
        <ul class="pagination justify-content-center">
          {%if page_obj.has_previous%}
          <li class="page-item">
            <a class="page-link bg-dark text-white" href="?page=1">Primera</a>
          </li>
          <li class="page-item">
            <a class="page-link bg-dark text-white" href="?page={{page_obj.previous_page_number}}">&laquo;</a>
          </li>
          {%endif%} 

          {%for page_num in paginator.page_range %}
          <li
            class="page-item {%if page_num == page_obj.number%} active {%endif%}"
          >
            <a class="page-link bg-dark text-white" href="?page={{page_num}}">
              {{page_num}}
            </a>
          </li>
          {%endfor%} 
          {%if page_obj.has_next%}
          <li class="page-item">
            <a
              class="page-link bg-dark text-white"
              href="?page={{page_obj.next_page_number}}"
            >
              &raquo;
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link bg-dark text-white"
              href="?page={{paginator.num_pages}}"
            >
              Última
            </a>
          </li>
          {%endif%}
        </ul>
      </nav>
    </div>

    {%else%}

    <div class="container-fluid">
      <p class='h3 text-center p-4 m-4 border border-black border-2'>No dispones de recetas guardadas. ¡Empieza a crearlas!</p>
    </div>

    {%endif%}
    <div class="d-flex justify-content-center gap-2 text-center my-3">
      <a class="btn btn-dark text-center fs-4 btn-fixed-height" href="{% url 'Crear Receta' %}">
        Crear receta
      </a>
      <form action="{% url 'Eliminar Todas Recetas' %}" method='post'clas='form'>
        {% csrf_token %}
      <button type='submit' class='btn btn-dark text-center fs-4 btn-fixed-height' onclick="return confirm('¿Está seguro que desea eliminar todas las recetas?">Eliminar todas las recetas</button>
      </form>
    </div>
  </div>


{% endblock %}
