{% load static %} {% block cabecera %}

<!--Right side header-->
<!--Mensaje de error en caso que los datos introducidos para acceder no sean correctos-->
<div class="col d-flex flex-column align-items-center">
  {%if messages and request.path != '/registro/'%} {% for msg in messages %}

  <div class="alert alert-danger">
    <h3>¡{{msg}}!</h3>
  </div>
  {% endfor %} {%endif%}

  <div class="d-flex">
    <p class="fs-3 me-3 mb-1 text-center">Accede a tu perfil</p>

    <a
      href="{% url 'Registro' %}"
      class="fs-3 text-reset text-center text-decoration-none"
    >
      ¿Eres nuevo?
    </a>
  </div>

  <form action="{% url 'Logear' %}" method="post" class="d-flex gap-2">
    {% csrf_token %}

    <input
      type="text"
      id="Nombre_usuario"
      aria-describedby="emailHelp"
      placeholder="Nombre de usuario"
      required
      name="username"
      class="form-control"
    />

    <input
      type="password"
      id="Password"
      placeholder="Password"
      autocomplete="off"
      required
      name="password"
      class="form-control"
    />

    <input type="submit" value="Login" />
  </form>
</div>

{% endblock %}
